
@{
    ViewData["Title"] = "Favorites";
}
@model List<Inventory>
<h1>Favorites</h1>

<table class="table">
    <tr>
        <th>Make</th>
        <th>Model</th>
        <th>Style</th>
        <th>Year</th>
        <th>Color</th>
        <th>Mileage</th>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Make</td>
            <td>@c.Model</td>
            <td>@c.Style</td>
            <td>@c.Year</td>
            <td>@c.Color</td>
            <td>@c.Mileage</td>
            <td><a href="/Home/RemoveFromFavorite?id=@c.Id">Remove</a></td>
        </tr>
    }
</table>

